 :root {
      --primary-color: #00aaff;
      --bg-color: #f9fafc;     
      --text-color: #222;
      
    }

html, body {
      height: 100%;
      margin: 0;
    }
	
body {
      font-family: 'Segoe UI', sans-serif;
      background-color: var(--bg-color);
      color: var(--text-color);
	
	  }

header {
      background-color: var(--primary-color);      
	  padding-left:20px;
	  padding-top:5px;
	  align-items: center;
	  }
	  
h2 {
      font-size: 2rem;
      margin: 30px 0 20px;
      color: #005577;
    }	
	
a {		
      text-decoration: none;
      color: ;
    }
	

footer {
      text-align: center;
      padding: 20px;
      font-size: 0.9rem;
      color: #888;
      background-color: #f1f1f1;
      border-top: 1px solid #ddd;
    }

.row {
	  justify-content: center;	  
	  display:flex;	
	  flex-direction: row;
	  overflow: auto;
}


.leftcolumn {
	float: left;
	max-width: 800px;
	width:100%;
	padding: 10px;
	background-color: #f1f1f1;
}

.rightcolumn {
	float:left;
	background-color: #f1f1f1;
	max-width: 320px;
	width:100%;
	padding: 10px;
}


.table-container{
    overflow-x:auto;
	background:#fff;
    border-radius:8px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}
	
#coachposition {
    width:35%;
    border-collapse:collapse;
    min-width:250px;
}

#timetable {
    width:100%;
    border-collapse:collapse;
    min-width:650px;
}

th, td {
    border:1px solid #d3d3d3;
    padding:0px;
    text-align:center;
    white-space:nowrap;
}

/* First line highlighted */
#timetable thead tr {
    background:#2c3e50;
    color:white;
    font-weight:bold;
}

    /* Alternate row colors */
#timetable tbody tr:nth-child(odd){
        background:#ffffff;
}

tbody tr:nth-child(even){
        background:#f2f7ff;
}

tbody tr:hover {
        background:#dfefff;
}


@media screen and (max-width: 1080px) {
      .leftcolumn {
        width: 95%;
		border: 1px solid #005577;
		
      }
	  
	  	  
	  .row {
		  flex-direction: column;
		  align-items: center;
		  padding: 0px 5px;
	  }
	  
	  .rightcolumn {		
        width: 100%;		
		padding: 10px;		
      }
}
